@tailwind base;
@tailwind components;
@tailwind utilities;

.employee h3,
h4 {
    display: inline;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
}

.content-layout {
	min-height: calc(100vh - 81px);
}

.deleteEmployee {
    transition: all ease-in-out 0.2s;
    color: white;
    opacity: 0.25;
    cursor: pointer;
}

.deleteEmployee:hover {
    color: red;
    opacity: 1;
}


